<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ventas, sistema, super, inventario">
    <meta name="description" content="Sistema para gestion de inventario y venta de productos con la finalidad de tener control de entradas y salida de activos">
    <meta name="author" content="Jorge Garate, Sebastian Troncoso y Percibal Vasquez" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/css/normalize.css">
    <link rel="stylesheet" href="~/lib/css/style.css">
    <!-- open graph para redes sociales-->
    <meta property="og:title" content="Sistema de Gestion y venta de productos">
    <meta property="og:url" content="#">
    <meta property="og:image" content="https://jorgegarate.github.io/dashboard-minimarket/assets/img/img-compartir.png">
    <meta property="og:description" content="Sistema para gestion de inventario y venta de productos con la finalidad de tener control de entradas y salida de activos">
    <meta name="theme-color" content="#FFD100">
    <link rel="apple-touch-icon" href="assets/img/favicon.png">
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <title>@ViewData["Title"] - Market</title>
    <title> WebMarket</title>

</head>
<body class="backgroun-body">
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebMarket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Uploadpicture.js" asp-append-version="true"></script>
    <script src="~/js/Principal.js" asp-append-version="true"></script>
    <script src="~/js/User.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
